
h3{
    font-size:1.92rem;

}

h5.services-h5 {
    font-weight: bolder;
    color: orange;
}

.service-h5:before{
    content:"*"
}

.boldnow{
    font-weight:bold;
   text-align:center;
}
.contact-h2{
    font-size:1.3rem;
    font-weight:bold;
    text-align:center;
}

section.inset.sub-pages {
    height: 150px;
}

.par-info img {
    width: 100px;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    top: 25%;
}

section.inset.sub-pages {
    margin-top: 174px;
    /* padding-top: 30px; */
}




nav ul a{
    color:orange;
    font-weight:bolder;
}

button.btn.waves-effect.waves-light {
    background: #ffa500;
}

h5 {
    font-size: 1.5rem;

}

.rotated {
    border-radius: 10px;
    color: #fff;
    background: #000;
    position: absolute;
    right: 20px;
    box-shadow: 2px 2px 2px;
}

.far, .fas, .fab {
    text-shadow: 2px 2px 2px #000;
    color: orange;
    font-weight: bold;
    font-size: 50px;
    padding-top: 40px;
}

.top {
    padding-top: 0px;
    font-size: 21px;
    padding-left:5px;
}

.transparentChange{
    background-color:#000 !important;
}
footer.footer-info {
    display: block;
    background:#000;
    color: #fff;
    text-align: center;
    height:200px;
}


.col.s12.l3.smallNav {
    line-height: 18px;
    text-align: left;
    position:relative;
}


section.icons-info {
    /* height: 50px; */
    background: #000;
    color: #fff;
    text-align: center;
    /*line-height: 30px;*/
    padding-top:10px;
    padding-bottom:10px;
}


.col.s12.l2.smallIcon {
    position: relative;
    display: inline-block;
    top: 11px;
}

.col.s12.l3.requestApt {
    text-align: left;
  /*  position: relative;
    left: -41px;*/
}

.sub-section{
    position: relative;
    top: 21px;
}

header{
    background:url('../images/tax3.jpg');
    background-size:cover;
    background-position:center;
    min-height: 773px; /*700px;*/
}



span.experience {
    position: absolute;
    z-index: 99999;
    top: 393px; /*107px;*/
    left:605px; /* 0;*/
    right: 0;
    margin: 0 auto;
    display: block;
   width: 100px;
    display: inline-block;
 
}

span.experience img {
    width: 200px;
    max-width: 200px;
}

.dropdown-content {
    z-index: 999999;
}

nav .brand-logo {
font-size:1.5rem;
text-shadow: 4px 4px 4px #000;
}

span.info {
    position: relative;
    translate: transform(-50%,-50%);
    transform: translate(-50%,-50%);
    /*top: 37%;*/
    font-weight: 700;
    font-size: 1rem;
  
 
}
.cta2 {
    width: 450px;
    height: 80px;
    background: #ccc;
    opacity: 0.5;
   /* border-radius: 25px;*/
    position: absolute;
    right: 0;
    bottom: 0;
    animation-name:moving2;
    animation-duration: 4s;
    animation-delay: 4s;
    animation-iteration-count: 1;
    animation-direction: alternate;  
   /* box-shadow:4px 4px 4px #000;*/
    text-align:center;
    top:25%;
    display:none;
}

.cta1 {
    /*border-radius: 2px solid #000;
    border-radius: 10px;*/
    /*background: #ccc;
    opacity: 0.5;*/
    width: 450px;
    height: 300px;
    position: absolute;
    left: 279px;
    bottom: 0;
   /* animation-name:moving;*/
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: 2;
    animation-direction: alternate;  
    box-shadow:4px 4px 4px 4px #000;
    text-align:center;
    top:20%; /*23%;*/
}

.title {
    font-size: 2rem;
    text-shadow: 2px 2px 2px gold;
}

span.info ul {
    text-align: left;
    /* padding: 20px; */
    padding-left: 51px;
}

.inset {
    -webkit-box-shadow: inset 0 2px 3px 0 rgba(0,0,0,0.12);
     box-shadow: inset 0 2px 3px 0 rgba(0,0,0,0.12); 
     height:300px;
    background:url('../images/laptop-2880.jpg');
    background-size:cover;
    background-position:center center;
}

@keyframes moving{
  from {background-color:black; opacity:2;color:#fff;};
  to {background-color:yellowgreen; opacity:2; color:#fff;}

}

@keyframes moving2{
    0% {bottom:0%};
    25% {bottom:5%;}
    50% {bottom:10%;}
    75% {bottom:20%;}
    100% {bottom:30%;}
  }


  .cta-mobile {
    width: 296px;
    height: 39px;
    background: #ccc;
    opacity: 0.5;
    top:259px;
    position: absolute;
    right: 25%;
    bottom: 0;
    /*animation-name: moving2;
    animation-duration: 4s;
    animation-delay: 4s;
    animation-iteration-count: 1;
    animation-direction: alternate;*/
    box-shadow: 4px 4px 4px #000;
    text-align: center;
}


.cta-mobile span.info {
    position: relative;
    translate: transform(-50%,-50%);
    transform: translate(-50%,-50%);
    top: 26%;
    font-weight: 700;
    font-size: 1rem;
    color: #000;
}

  h1 {
    font-size: 2.5rem;
    line-height: 110%;
    margin: 0.9rem 0 1.68rem 0;
    text-align:center;
}


span.par-info {
    display: inline-block;
    margin: auto;
    text-align: center;
    font-size: 2rem;
    position: absolute;
    right: 0;
    left: 0;
    padding-top: 123px;
    color: #fff;
}

@media screen and (max-width:1366px){
    .cta1{
        top:20%; /*25%;*/
    }

    header{
        min-height:488px; /*600px;*/
    }

    .cta1{
        left:149px;
        width:365px;
        height:260px; /*277px;*/
    }

    .title {
        font-size: 1.5rem;
    }

    span.experience img {
        width: 150px;
        max-width: 200px;
    }

    section.icons-info {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    span.experience {
        top: 318px;
        left: 426px;
      /*  width: 100%; */
    }
}

@media screen and (max-width:1024px){
    .cta1.hide-on-med-and-down.z-depth-5 {
        top: 108px;
    }

}

@media screen and (max-width:768px){

    .col.s12.l3.smallNav {
        line-height: 18px;
        text-align: center;
        border-bottom-color: #fff;
        border-bottom: dotted;
    }

    .col.s12.l3.requestApt {
        text-align: center;
        border-bottom-color: #fff;
        border-bottom: dotted;
       padding-bottom:10px;
    }

    i.material-icons.right.section-icons {
        position: absolute;
        left: 0;
        right: 0;
        top: -43px;
    }

    .col.s12.l3.smallNav {
        padding-top: 38px;
    }

}


@media screen and (max-width:670px){

   /* .col.s12.l3.smallNav {
        line-height: 18px;
        text-align: center;
        border-bottom-color: #fff;
        border-bottom: dotted;
    }*/

    header{
        min-height:300px;
    }

    nav .brand-logo {
        font-size:1rem;
        color:#fff;
        text-shadow:none;
        font-weight:bold;
        }

        span.experience img {
            width: 100%;
            max-width: 200px;
        }

        span.experience {
            display: none !important;
        }
}
